/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/images
/public/fonts
/public/vendors
/public/json
/storage/*.key
/vendor
/materialize-shell-scripts
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
